<p id="notice"><%= notice %></p>
<h1><%= @user.name %></h1>

<h2>My Campaigns</h2>
<%= render :partial => "campaigns/list", :locals => { :campaigns => @own_campaigns } %>

<h2>Campaigns I contributed To</h2>
<%= render :partial => "campaigns/list", :locals => { :campaigns => @contributed_campaigns } %>